body{
  margin: 0%;
}
.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: blue;
  color: white;
}

.container{
  display: flex;
  height: 60vh;
}

.banner-1{
  flex-grow: 1;
  background-color: blueviolet;
  color: white;
}

.banner-2{
  flex-grow: 1;
  background-color: chocolate;
  color: white;
}

.conteudo{
  flex-grow: 5;
  background-color: brown;
  color: white;
}

.rodape{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: crimson;
  color: white;
}

